alembic
email-validator
fastapi
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic-settings
psycopg[binary]
python-dotenv
python-jose[cryptography]
sqlalchemy
uvicorn
python-multipart
requests
beautifulsoup4
openpyxl
bs4
setuptools<81
libretranslate==1.7.3
urllib3==2.2.3
chardet==5.2.0
wheel==0.41.3